mixin menu(items)
	.menu
		.menu__mobile.js-menu
		.menu__list
			each item,i in items
				-if(i==0)
					a(href="#" title="").menu__item._active=item
				-else	
					a(href="#" title="").menu__item=item
