.block {
	background-color: $white;
	box-shadow: 1px 1px 1px rgba($black, .7);
	border-radius: 3px;
	margin-bottom: 30px;
	&._search-partner{
		padding: 17px 20px;
		margin-bottom: 0;
	}
	&._flex {
		display: flex;
		@media screen and(max-width: 480px) {
			display: block;
		}
	}
	&._my-profile {
		padding: 49px 105px 41px 89px;
		@media screen and(max-width: 1050px)	{
			padding-right: 20px;
			padding-left: 20px;
			padding-top: 30px;
		}	
	}
}

.block-right {
	background-color: $lightGray;
	padding: 38px 85px 34px;
	width: 100%;
	@media screen and(max-width: 1050px) {
		padding-right: 20px;
  	padding-left: 20px;
  	padding-top: 30px;
  	width: 30%;
  }
  @media screen and(max-width: 480px) {
		padding-bottom: 20px;
		width: auto;
	}	
	&__title {
		@extend .side-bordered-title;
		padding-top: 9px;
		padding-bottom: 6px;
		padding-left: 10px;
		font-size: 11px;
		font-family: 'Lato-Black';		
		margin-bottom: 11px;
		@media screen and(max-width: 1050px) {
			font-size: 14px;
		}	
	}
}
.block-messages-row {
	padding: 19px 18px 9px 16px;
}

.block-leave-message-row {
	padding-top: 18px;
}

.block-my-profile-row {
	width: 825px;
	@media screen and(max-width: 1050px)	{
		width: auto;
	}
}