mixin block-user-info(data)
	.block
		+user-info

mixin block-search-partner(data)
	-var modifier = attributes.class || ''
	.block(class="#{modifier}")
		+form-search-partner

mixin block-registration(data)
	.block._flex
		.registration-form-column
			+form-registration._registration
		.block-right
			.block-right__title._green Они ждут тебя
			+cards-row

mixin block-messages(data)
	.block._unflex
		.block-messages-row
			+messages
		