.block {
	background-color: $white;
	box-shadow: 1px 1px 1px rgba($black, .7);
	border-radius: 3px;
	margin-bottom: 30px;
	&._search-partner{
		padding: 17px 20px;
		margin-bottom: 0;
	}
	&._flex {
		display: flex;
	}
}

.block-right {
	background-color: $lightGray;
	padding: 38px 85px 34px 85px;
	width: 100%;
	&__title {
		@extend .side-bordered-title;
		padding-top: 9px;
		padding-bottom: 6px;
		padding-left: 10px;
		font-size: 11px;
		font-family: 'Lato-Black';		
		margin-bottom: 11px;
	}
}
.block-messages-row {
	padding: 19px 18px 9px 16px;
}

.block-leave-message-row {
	padding-top: 18px;
}