.block {
	margin-bottom: 30px;

	border-radius: 3px;
	background-color: $white;
	box-shadow: 1px 1px 1px rgba($black, .7);
	&._search-partner {
		margin-bottom: 0;
		padding: 17px 20px;
	}
	&._flex {
		display: flex;
		@media screen and(max-width: 480px) {
			display: block;
		}
	}
	&._my-profile {
		padding: 49px 105px 41px 89px;
		@media screen and(max-width: 1050px) {
			padding-top: 30px;
			padding-right: 20px;
			padding-left: 20px;
		}
	}
}

.block-right {
	width: 100%;
	padding: 38px 85px 34px;

	border-radius: 3px;
	background-color: $lightGray;
	@media screen and(max-width: 1050px) {
		width: 30%;
		padding-top: 30px;
		padding-right: 20px;
		padding-left: 20px;
	}
	@media screen and(max-width: 480px) {
		width: auto;
		padding-bottom: 20px;
	}
	&__title {
		margin-bottom: 11px;
		padding-top: 9px;
		padding-bottom: 6px;
		padding-left: 10px;

		font-family: "Lato-Black";
		font-size: 11px;

		@extend .side-bordered-title;
		@media screen and(max-width: 1050px) {
			font-size: 14px;
		}
	}
}
.block-messages-row {
	padding: 19px 18px 9px 16px;
}

.block-leave-message-row {
	padding-top: 18px;
}

.block-my-profile-row {
	width: 825px;
	@media screen and(max-width: 1050px) {
		width: auto;
	}
}
