mixin search-partner(data)
	.search-partner
		.search-partner-column._first
			h1.search-partner__title Поиск партнера для дружбы и интима: Москва
			.search-partner__text
				|Тысячи парней и девушек уже нашли друг друга у нас на сайте! Найди и ты свою вторую половину!  После регистрации, Вам будет доступна возможность переписываться, обмениваться фото, назначать встречи и смотреть видео трансляции наших участников. 
			.search-partner__real-ankets Толькое реальные анкеты и никакой рекламы!
		+block-search-partner._search-partner