.search-partner {
	display: flex;
	justify-content: space-between;
	border-left: 3px solid $red;
	&__title {
		font-size: 25px;
		line-height: 27px;
		font-family: 'Lato-Bold';
		color: $white;
		margin-top: 0;
		margin-bottom: 16px;
	}
	&__text {
		font-size: 15px;
		line-height: 20px;
		color: #9f9f9f;
		margin-bottom: 21px;
	}
	&__real-ankets {
		color: #9f9f9f;
		font-family: 'Lato-Bold';
		font-size: 15px;	
	}
}
.search-partner-column {
	&._first {
		width: 461px;
		margin-left: 23px;
		margin-top: 13px;
		padding-bottom: 13px;
	}
	&._second {
		border-radius: 5px;
		background-color: $white;
		padding: 17px 20px;
	}
}