::-webkit-input-placeholder {
    color: $black;
}
::-moz-placeholder {
    color: $black;
}
:-moz-placeholder {
    color: $black;
}
:-ms-input-placeholder {
    color: $black;
}
a {
    color: $white;
    text-decoration: none;
    @include transition;
    &:hover {
        color: $red;
    }
}
.button {
    display: inline-block;

    cursor: pointer;
    text-decoration: none;
    text-align: center;
    
    box-sizing: border-box;
    @include transition;
    
    &._green {
        background-color: $green;
        color: $white;
        box-shadow: 0 1px 0 #b2de7c inset, 0 1px 2px rgba($black, .67);
        &:hover {
            background-color: darken($green, 5%);
        }
    }
    &._gray {
        background-color: $lightGray;
        color: $darkGray;
        box-shadow: 1px 0 2px rgba($black, .67);
    }    
}
.big-title {
    font-size: 27px;
}
.side-bordered-title {
    color: $red;
    border-left: 3px solid $red;
    text-transform: uppercase;
    background-color: $lightGray;
    line-height: 1;
    &._green {
        border-left-color: $green;
        color: $green;
        background-color: #e1e1e1;
    }
}
.background-title {
    color: $red;
    font-family: 'Lato-Medium';
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    background-color: $lightBlack;
    text-shadow: 0 1px 2px $black;
    border-radius: 3px;    
}
.input-form {
    box-sizing: border-box;
    border: none;
    background-color: #efefef;
    border-top: 1px solid $gray;
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Lato-Medium';
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label:before {
    content: '';
    @extend .fa;    
    width: 12px;
    height: 12px;
    border: 1px solid #959a9c;
    vertical-align: middle;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before {
    @extend .fa-check;
}