::-webkit-input-placeholder {
	color: $black;
}
::-moz-placeholder {
	color: $black;
}
:-moz-placeholder {
	color: $black;
}
:-ms-input-placeholder {
	color: $black;
}
a {
	text-decoration: none;

	color: $white;

	@include transition;
	&:hover {
		color: $red;
	}
}
.button {
	display: inline-block;

	box-sizing: border-box;

	cursor: pointer;
	text-align: center;
	text-decoration: none;

	@include transition;
	&._green {
		color: $white;
		background-color: $green;
		box-shadow: 0 1px 0 #b2de7c inset, 0 1px 2px rgba($black, .67);
		&:hover {
			background-color: darken($green, 5%);
		}
	}
	&._gray {
		color: $darkGray;
		background-color: $lightGray;
		box-shadow: 0 1px 2px rgba($black, .67);
		&:hover {
			background-color: darken($lightGray, 5%);
		}
	}
}
.big-title {
	font-family: "Lato-Bold";
	font-size: 27px;
}
.side-bordered-title {
	text-transform: uppercase;

	color: $red;
	border-left: 3px solid $red;
	background-color: $lightGray;

	line-height: 1;
	&._green {
		color: $green;
		border-left-color: $green;
		background-color: #e1e1e1;
	}
}
.background-title {
	text-align: center;
	text-transform: uppercase;

	color: $red;
	border-radius: 3px;
	background-color: $lightBlack;
	text-shadow: 0 1px 2px $black;

	font-family: "Lato-Medium";
	font-size: 14px;
}
.input-form {
	box-sizing: border-box;

	text-transform: uppercase;

	border: none;
	background-color: #efefef;
	box-shadow: 0 1px 0 rgba($darkGray, .2) inset;

	font-family: "Lato-Medium";
	font-size: 11px;
}

input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label:before {
	width: 12px;
	height: 12px;

	content: "";
	cursor: pointer;
	vertical-align: middle;

	border: 1px solid #959a9c;

	@extend .fa;
}
input[type="checkbox"]:checked + label:before {
	@extend .fa-check;
}

input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;

	display: block;

	min-width: 100%;
	min-height: 100%;

	cursor: inherit;
	text-align: right;

	opacity: 0;

	font-size: 999px;
}

button {
	padding: 0;

	border: 0;
	border-radius: 0;
	background: 0 0;

	line-height: 1;

	appearance: none;
}
