// global font settings
$baseFontSize: 16px;

// global colors
$white: #fff;
$black: #000;
$lightBlack: #292929;
$red: #f63b3b;
$lightRed: #7f7575;
$darkGray: #373737;
$gray: #cacaca;
$lightGray: #eee;
$green: #82b147;
$blue: #006699;