mixin user-info(data)
	.user-info
		.user-info-left
			.user-info-left-avatar
				img(src="http://placehold.it/220x294" alt="").user-info-left-avatar__image
			.user-info-left-files
					.user-info-left-files__label
						i.fa.fa-camera
						span Фото: 50
					.user-info-left-files__label._last
						i.fa.fa-film
						span Видео: 30

