.user-info {
	display: flex;

	padding: 21px 19px 15px;

	justify-content: space-between;
	@media screen and(max-width: 480px) {
		display: block;

		padding-bottom: 50px;
	}
}
.user-info-left {
	width: 220px;
	@media screen and(max-width: 960px) {
		width: 25%;
	}
	@media screen and(max-width: 768px) {
		width: 22%;
	}
	@media screen and(max-width: 480px) {
		width: 220px;
		margin-right: auto;
		margin-bottom: 20px;
		margin-left: auto;
	}
}
.user-info-left-avatar {
	&__image {
		display: block;
		@media screen and(min-width: 481px) and (max-width: 768px) {
			width: 100%;
			height: auto;
		}
	}
}
.user-info-left-files {
	display: flex;

	margin-bottom: 10px;

	justify-content: space-between;
	&__label {
		width: 50%;
		padding-top: 11px;
		padding-bottom: 9px;

		text-align: center;

		border-right: 1px solid #c7c7c7;
		background-color: #ebebeb;

		font-size: 13px;
		line-height: 1;
		@media screen and(max-width: 1050px) {
			font-size: 15px;
		}
		&._last {
			border-right: 0;
		}
		.fa {
			color: $red;

			font-size: 14px;
		}
		span {
			padding-left: 10px;
		}
	}
}

.user-info-left-media {
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
	&__item {
		margin-bottom: 3px;
		img {
			display: block;
		}
	}
}
.user-info-content-top {
	display: flex;

	margin-bottom: 8px;

	align-items: center;
	justify-content: space-between;
	@media screen and(max-width: 480px) {
		display: block;
	}
	&__title {
		position: relative;

		font-family: "Lato-Black";
		font-size: 27px;
		@media screen and(max-width: 480px) {
			display: inline-block;

			margin-bottom: 10px;
			padding-right: 20px;
		}
		&:after {
			position: absolute;
			top: 10px;
			right: -19px;

			content: "";
			@media screen and(max-width: 480px) {
				right: 0;
			}
		}
		&._female {
			&:after {
				@include bg($female-small);
			}
		}
		&._male {
			&:after {
				@include bg($male);
			}
		}
	}
	&__status {
		position: relative;

		padding-left: 15px;

		text-transform: uppercase;

		color: $green;

		font-size: 12px;
		@media screen and(max-width: 1050px) {
			font-size: 13px;
		}
		&:before {
			position: absolute;
			top: 1px;
			left: 0;

			width: 10px;
			height: 10px;

			content: "";

			border-radius: 50%;
			background-color: $green;
		}
	}
}
.user-info-content {
	width: 500px;
	@media screen and(max-width: 960px) {
		width: 54%;
	}
	@media screen and(max-width: 480px) {
		width: auto;
	}
	&__text {
		position: relative;

		margin-bottom: 8px;
		padding: 10px 47px 10px 18px;

		color: #7c7373;
		background-color: $lightGray;

		font-size: 14px;
		line-height: 20px;
		@media screen and(max-width: 1050px) {
			font-size: 17px;
			line-height: 26px;
		}
		@media screen and(max-width: 768px) {
			margin-bottom: 15px;
			padding-right: 5px;
		}
		&:before {
			position: absolute;
			top: 8px;
			left: -13px;

			width: 0;
			height: 0;

			content: "";

			border-top: 13px solid $lightGray;
			border-left: 13px solid transparent;
		}
	}
}

.user-info-content-actions {
	display: flex;

	margin-bottom: 25px;

	justify-content: space-between;
	@media screen and(max-width: 768px) {
		display: block;

		width: 50%;
	}
	@media screen and(max-width: 480px) {
		width: 70%;
	}
	&__button {
		position: relative;

		display: block;

		padding: 11px 15px 6px 29px;

		font-size: 14px;
		line-height: 1;

		@extend .button;
		@media screen and(max-width: 768px) {
			margin-bottom: 7px;
		}
		&:before {
			left: 8px;

			content: "";

			@extend .fa;
			@include absoluteVerticalCenter;
		}
		&._message {
			&:before {
				@extend .fa-envelope-o;
			}
		}
		&._friend {
			&:before {
				@extend .fa-user-plus;
			}
		}
		&._wink {
			&:before {
				@extend .fa-smile-o;
			}
		}
	}
}
.user-info-content-list {
	width: 365px;
	margin-bottom: 20px;

	font-size: 13px;
	@media screen and(max-width: 1050px) {
		font-size: 15px;
	}
	@media screen and(max-width: 480px) {
		width: auto;
	}
	&__left {
		width: 120px;
		padding-right: 78px;
		@media screen and(max-width: 480px) {
			padding-right: 22px;
		}
	}
	&__right {
		position: relative;

		width: 168px;
	}
	&__item {
		display: flex;

		margin-bottom: 10px;

		justify-content: space-between;
		&._last {
			margin-bottom: 0;
		}
	}
	&__property {
		color: #7c7373;
	}
}

.user-info-content-prefer {
	&__title {
		margin-bottom: 11px;
		padding-top: 9px;
		padding-bottom: 8px;
		padding-left: 8px;

		font-family: "Lato-Black";
		font-size: 11px;

		@extend .side-bordered-title;
		@media screen and(max-width: 1050px) {
			font-size: 14px;
		}
	}
}
.user-info-content-prefer-labels {
	display: flex;

	width: 365px;

	flex-wrap: wrap;
	justify-content: flex-start;
	@media screen and(max-width: 480px) {
		display: block;

		width: auto;
	}
	&__item {
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 6px 8px 3px;

		cursor: pointer;

		border: 1px dashed #b7b7b7;

		font-size: 14px;
		line-height: 1;
		@media screen and(max-width: 1050px) {
			font-size: 15px;
		}
	}
}

.user-info-right {
	position: relative;

	width: 218px;
	margin-top: 41px;
	@media screen and(max-width: 960px) {
		width: 18%;
	}
	@media screen and(max-width: 768px) {
		width: 16%;
	}
	@media screen and(max-width: 480px) {
		width: auto;
		margin-top: 30px;
	}
	&__views {
		position: absolute;
		bottom: 5px;

		color: #7c7373;

		font-size: 13px;
		@media screen and(max-width: 1050px) {
			font-size: 15px;
		}
		@media screen and(max-width: 480px) {
			bottom: -35px;
		}
		span {
			padding-left: 4px;
		}
	}
}
.user-info-right-presents {
	&__title {
		margin-bottom: 19px;
		padding-top: 9px;
		padding-bottom: 8px;
		padding-left: 8px;

		font-family: "Lato-Black";
		font-size: 11px;

		@extend .side-bordered-title;
		@media screen and(max-width: 1050px) {
			font-size: 14px;
		}
	}
	&__link {
		text-align: right;
		a {
			position: relative;

			text-decoration: underline;

			color: $blue;

			font-size: 13px;
			@media screen and(max-width: 1050px) {
				font-size: 15px;
			}
			&:before {
				position: absolute;
				top: -4px;
				left: -25px;

				content: "";

				@include bg($present);
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.user-info-right-presents-list {
	display: flex;

	margin-bottom: 20px;

	flex-wrap: wrap;
	justify-content: space-between;
	@media screen and(max-width: 480px) {
		margin-bottom: 10px;

		justify-content: flex-start;
	}
	&__item {
		margin-bottom: 5px;
		img {
			display: block;
		}
	}
}
