.user-info {
	padding: 21px 19px 15px;
	display: flex;
	justify-content: space-between;
}
.user-info-left {
	width: 220px;
}
.user-info-left-avatar {
	&__image {
		display: block;
	}
}
.user-info-left-files {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	&__label {
		background-color: #ebebeb;
		font-size: 13px;
		padding-top: 11px;
		padding-bottom: 9px;
		line-height: 1;
		width: 50%;
		border-right: 1px solid #c7c7c7;
		text-align: center;
		&._last {
			border-right: 0;
		}
		.fa {
			color: $red;
			font-size: 14px;
		}
		span {
			padding-left: 10px;
		}
	}
}

.user-info-left-media {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&__item {
		margin-bottom: 3px;
		img {
			display: block;
		}
	}
}
.user-info-content-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
	&__title {
		font-size: 27px;
		font-family: 'Lato-Black';
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 10px;
			right: -19px;
			@include bg($female-small);
		}
	}
	&__status {
		color: $green;
		font-size: 12px;
		position: relative;
		padding-left: 15px;
		text-transform: uppercase;
		&:before {
			content: '';
			width: 10px;
			height: 10px;
			position: absolute;
			top: 1px;
			left: 0;
			background-color: $green;
			border-radius: 50%;
		}
	}
}
.user-info-content {
	width: 500px;
	&__text {
		font-size: 14px;
		color: #7c7373;
		padding: 10px 47px 10px 18px;
		background-color: $lightGray;
		margin-bottom: 8px;
		position: relative;
		line-height: 20px;
		&:before {
			position: absolute;
			top: 8px;
			left: -13px;
			content: '';
			width: 0;
			height: 0;
			border-top: 13px solid $lightGray; 
			border-left: 13px solid transparent;			
		}
	}
}

.user-info-content-actions {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	&__button {
		@extend .button;
		padding: 11px 15px 6px 29px;
		position: relative;
		font-size: 14px;
		line-height: 1;
		&:before {
			content: '';
			left: 8px;
			@extend .fa;
			@include absoluteVerticalCenter;
		}
		&._message {
			&:before {
				@extend .fa-envelope-o;
			}
		}
		&._friend {
			&:before {
				@extend .fa-user-plus;
			}
		}
		&._wink {
			&:before {
				@extend .fa-smile-o;
			}
		}				
	}	
}
.user-info-content-list {
	font-size: 13px;
	width: 365px;
	margin-bottom: 20px;
	&__left {
		width: 120px;
		padding-right: 78px;
	}
	&__right {
		width: 168px;
		position: relative;
	}	
	&__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
		&._last {
			margin-bottom: 0;
		}
	}
	&__property {
		color: #7c7373;
	}
}

.user-info-content-prefer {
	&__title {
		@extend .side-bordered-title;
		margin-bottom: 11px;
		padding-top: 9px;
		padding-bottom: 8px;
		padding-left: 8px;
		font-size: 11px;
		font-family: 'Lato-Black';
	}
}
.user-info-content-prefer-labels {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 365px;
	&__item {
		padding: 6px 8px 3px;
		border: 1px dashed #b7b7b7;
		margin-right: 10px;
		font-size: 14px;
		margin-bottom: 10px;
		cursor: pointer;
		line-height: 1;
	}
}

.user-info-right {
	margin-top: 41px;
	width: 218px;
	position: relative;
	&__views {
		position: absolute;
		bottom: 5px;
		font-size: 13px;
		color: #7c7373;
		span {
			padding-left: 4px;
		}
	}
}
.user-info-right-presents {
	&__title {
		@extend .side-bordered-title;
		margin-bottom: 23px;
		padding-top: 9px;
		padding-bottom: 8px;
		padding-left: 8px;
		font-size: 11px;
		font-family: 'Lato-Black';
	}
	&__link {
		text-align: right;
		a {
			font-size: 13px;
			color: $blue;
			text-decoration: underline;
			position: relative;
			&:before {
				content: '';
				left: -25px;
				top: -4px;
				position: absolute;
				@include bg($present);
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.user-info-right-presents-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
	&__item {
		margin-bottom: 5px;
		img {
			display: block;
		}
	}
}