mixin user-info(imageSize)
	.user-info
		.user-info-left
			.user-info-left-avatar
				img(src="http://placehold.it/#{imageSize}" alt="").user-info-left-avatar__image
			.user-info-left-files
					.user-info-left-files__label
						i.fa.fa-camera
						span Фото: 50
					.user-info-left-files__label._last
						i.fa.fa-film
						span Видео: 30
			.user-info-left-media
				.user-info-left-media__item
					img(src="%=static=%images/content/video.png" alt="")
				.user-info-left-media__item
					img(src="%=static=%images/content/photo.png" alt="")
				.user-info-left-media__item
					img(src="%=static=%images/content/photo.png" alt="")
				.user-info-left-media__item
					img(src="%=static=%images/content/video.png" alt="")
				.user-info-left-media__item
					img(src="%=static=%images/content/photo.png" alt="")
				.user-info-left-media__item
					img(src="%=static=%images/content/photo.png" alt="")
				.user-info-left-media__item
					img(src="%=static=%images/content/video.png" alt="")																										
				.user-info-left-media__item
					img(src="%=static=%images/content/photo.png" alt="")
				.user-info-left-media__item
					img(src="%=static=%images/content/photo.png" alt="")						
		.user-info-content
			.user-info-content-top
				.user-info-content-top__title._female Мила Дьяконова
				.user-info-content-top__status На сайте
			.user-info-content__text.
				Хочу встретить мужчину для постояных встреч , отношений (рост не ниже 175см спортивный, член от 20см.) интересуют отношения!!!!
			.user-info-content-actions
				a(href="#" title="").user-info-content-actions__button._green._message Написать сообщение
				a(href="#" title="").user-info-content-actions__button._green._friend Добавить в друзья
				a(href="#" title="").user-info-content-actions__button._green._wink Подмигнуть
			.user-info-content-list
				.user-info-content-list__item
					.user-info-content-list__left
						.user-info-content-list__property Город:
					.user-info-content-list__right
						.user-info-content-list__value Новокузнецк
				.user-info-content-list__item
					.user-info-content-list__left
						.user-info-content-list__property Дата рождения:
					.user-info-content-list__right
						.user-info-content-list__value 11 ноября 1988
				.user-info-content-list__item
					.user-info-content-list__left
						.user-info-content-list__property Ориентация:
					.user-info-content-list__right
						.user-info-content-list__value Би
				.user-info-content-list__item
					.user-info-content-list__left
						.user-info-content-list__property Цель знакомства:
					.user-info-content-list__right
						.user-info-content-list__value Поиск знакомых
				.user-info-content-list__item
					.user-info-content-list__left
						.user-info-content-list__property Познакомлюсь:
					.user-info-content-list__right
						.user-info-content-list__value С парнем в возрасте 26 - 33
				.user-info-content-list__item._last
					.user-info-content-list__left
						.user-info-content-list__property Контакты:
					.user-info-content-list__right
						+contacts(true)
			.user-info-content-prefer
				.user-info-content-prefer__title Мне нравится
				.user-info-content-prefer-labels
					.user-info-content-prefer-labels__item Секс
					.user-info-content-prefer-labels__item Красивая жизнь
					.user-info-content-prefer-labels__item Искренность
					.user-info-content-prefer-labels__item Еда
					.user-info-content-prefer-labels__item Мужчины
					.user-info-content-prefer-labels__item Романтика
		.user-info-right
			.user-info-right-presents
				.user-info-right-presents__title Подарки
				.user-info-right-presents-list
					.user-info-right-presents-list__item
						img(src="%=static=%images/content/present-hedgehog.jpg" alt="")
					.user-info-right-presents-list__item
						img(src="%=static=%images/content/present-hamburger.jpg" alt="")
					.user-info-right-presents-list__item
						img(src="%=static=%images/content/present-shoes.jpg" alt="")
					.user-info-right-presents-list__item
						img(src="%=static=%images/content/present-rabbit.jpg" alt="")
					.user-info-right-presents-list__item
						img(src="%=static=%images/content/present-corn.jpg" alt="")
					.user-info-right-presents-list__item
						img(src="%=static=%images/content/present-car.jpg" alt="")
					.user-info-right-presents-list__item
						img(src="%=static=%images/content/present-cubes.jpg" alt="")
					.user-info-right-presents-list__item
						img(src="%=static=%images/content/present-ladybug.jpg" alt="")
					.user-info-right-presents-list__item
						img(src="%=static=%images/content/present-bear.jpg" alt="")
					.user-info-right-presents-list__item
						img(src="%=static=%images/content/present-white-animal.jpg" alt="")
					.user-info-right-presents-list__item
						img(src="%=static=%images/content/present-sheep.jpg" alt="")
					.user-info-right-presents-list__item
						img(src="%=static=%images/content/present-piano.jpg" alt="")
				.user-info-right-presents__link
					a(href="#" title="") Отправить подарок
				.user-info-right__views
					i.fa.fa-eye
					span просмотров за месяц: 1482
