.message-block {
	display: flex;
	justify-content: space-between;
	@media screen and(max-width: 760px) {
		display: block;
	}
	&__text {
		font-size: 13px;
		line-height: 20px;
		width: 515px;
		padding-top: 9px;
		@media screen and(max-width: 1050px) {
			font-size: 17px;
			line-height: 26px;
		}	
		@media screen and(max-width: 760px) {
			width: auto;
		}	
		@media screen and(max-width: 480px) {
			padding-bottom: 5px;
		}		
	}
}
.message-block-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 190px;
	@media screen and(max-width: 760px) {
		width: auto;
	}	
	&__image {
		margin-right: 15px;
		@media screen and(max-width: 760px) {
			margin-right: 10px;
		}	
		img {
			display: block;
			border-radius: 50%;
		}
	}
	&__name {
		color: $black;
		font-size: 17px;
		font-family: 'Lato-Bold';
		position: relative;
		padding-left: 18px;
		display: block;
		margin-bottom: 8px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 1px;
		}
		&._female {
			&:before {
				@include bg($female);
			}
		}
		&._male {
			&:before {
				@include bg($male);
			}
		}
		
	}
}
.message-block-left-date {
	font-size: 12px;
	color: #7c7373;
	display: flex;
	@media screen and(max-width: 760px) {
		font-size: 15px;
	}		
	&__item {
		margin-right: 15px;
		&._last {
			margin-right: 0;
		}
	}
}

.message-block-right {
	padding-top: 6px;
	&__button {
		@extend .button;
		padding: 8px 18px 4px 15px;
		font-size: 14px;
		font-family: 'Lato-Medium';
		line-height: 1;
		margin-right: 7px;
	}
	&__button-second {
		@extend .button;
		line-height: 26px;
		width: 26px;
		font-size: 14px;
		@extend .fa;
		@extend .fa-trash-o;
	}	
}

