mixin preview-user(data)
	.preview-user
		img(src="http://placehold.it/220x294" alt="").preview-user__image
		.preview-user-name
			a(href="#" title="").preview-user-name__link._female Инна С.
		.preview-user-info
			.preview-user-info 22 года /
			.preview-user-info Россия /
			.preview-user-info Гетеро
		.preview-user-actions
			a(href="#" title="").preview-user-actions__button Написать сообщение
