.preview-user {
	background-color: $white;
	padding: 9px;
	box-shadow: 0 1px 1px rgba($black, .7);
	border-radius: 3px;
	&__image {
		img {
			display: block;
			@media screen and(max-width: 960px) {
				width: 100%;
				height: auto;
			}
		}
	}
}
.preview-user-name {
	font-size: 17px;
	display: block;
	margin-top: 12px;
	color: $black;
	font-family: 'Lato-Bold';
	margin-bottom: 8px;
	text-align: center;
	&__link {
		position: relative;
		color: $black;
		font-size: 17px;
		font-family: 'Lato-Bold';
		&:before {
			content: '';
			position: absolute;
			left: -19px;
			top: 1px;
		}
		&._female {
			&:before {
				@include bg($female);
			}
		}
		&._male {
			&:before {
				@include bg($male);
			}
		}		
	}
}
.preview-user-info {
	display: flex;
	justify-content: center;
	/* width: 155px; */
	margin-bottom: 10px;
	font-size: 12px;
	color: #7c7373;
	@media screen and(max-width: 960px) {
		font-size: 14px;
	}	
	@media screen and(max-width: 760px) {
		font-size: 15px;
		width: 46%;
		margin-left: auto;
		margin-right: auto;
		display: table;
	}
	@media screen and(max-width: 480px) {
		display: flex;
		width: auto;
		margin-left: 0;
		margin-right: 0;		
	}	
	&__item {
		margin-right: 7px;
		position: relative;
		padding-right: 12px;
		&:after {
			content: '/';
			position: absolute;
			top: 0;
			right: 0;
			@media screen and(max-width: 760px) {
				display: none;
			}	
			@media screen and(max-width: 480px) {
				display: block;
			}	
		}
		&._last {
			margin-right: 0;
			padding-right: 0;
			&:after {
				display: none;
			}			
		}
	}
}
.preview-user-actions {
	display: flex;
	justify-content: space-between;
	&__button {
		@extend .button;
		padding: 10px 16px 8px 29px;
		font-size: 14px;
		font-family: 'Lato-Medium';
		position: relative;
		line-height: 1;
		@media screen and(max-width: 960px) {
			padding-left: 13px;
			padding-right: 14px;
		}	
		@media screen and(max-width: 760px) {
			padding-left: 13px;
			padding-right: 8px;
		}	
		@media screen and(max-width: 480px) {
			padding-left: 9px;
			padding-right: 6px;
		}
		@media screen and(max-width: 320px) {
			padding-left: 29px;
			padding-right: 16px;
		}		
		&:before {
			position: absolute;
			top: 8px;
			left: 8px;
			@extend .fa;
			@extend .fa-envelope-o;
			@media screen and(max-width: 960px) {
				display: none;
			}
			@media screen and(max-width: 320px) {
				display: block;
			}				
		}		
	}
	&__button-second {
		@extend .button;
		line-height: 31px;
		width: 31px;
		font-size: 14px;
		@extend .fa;
		@extend .fa-user-times;
		@media screen and(max-width: 760px) {
			line-height: 46px;
		}			
		@media screen and(max-width: 480px) {
			line-height: 31px;
		}				
	}
}