mixin footer(data)
	footer.footer
		.footer-top
			.footer-top__wrapper
				.footer-top-title 
					span.footer-top-title__sub Сайт интим знакомства 
					|- Найди партнера для регулярного интима, интима на 1-2 раза, или подругу жизни
				a(href="#" title="").footer-top__button._green Зарегистрируйтесь
		.footer-bottom
			.footer-bottom__wrapper
				.footer-bottom__text.
					2017 Все права защищены. Все материалы на сайте предоставлены только для ознакомления. Администрация ресурса не несет ответственности за информацию, предоставленную из сторонних источников.Получить Контент   Управление подпиской на контент   Правила предоставления Подписки на контент   Обратная связь   Пожаловаться на спам (AntiSpam)
				.footer-bottom__text._last.
					Служба поддержки абонентов «МТС»С Билайн : 8-800-200-8642(звонок бесплатный). E-mail: support@sdpays.com<br>
					Служба поддержки абонентов МегаФон: 8 800 333-89-81 (звонок бесплатный). E-mail: helpdesk@informpartner.com<br>
					Для абонентов МТС Билайн МегаФон Tele2 предоставляется услуга подписка.<br>
					Стоимость услуги составляет 20.32 рублей с НДС за 1 календарный день. С размером стоимости услуги и порядком ее списания можно ознакомиться на cайте ПАО «МТС» www.mts.ru в разделе «Услуги по коротким номерам», введя короткий номер или идентификатор услуги в строке поиска, а также позвонив по единому номеру 88002500890. Для отказа от предоставления Подписки на Контент отправьте смс-сообщение с командой СТОП на номер 770650 (смс бесплатно в домашнем регионе) или наберите ussd-команду *152*22#вызов<br>(бесплатно)