mixin friends(data)
	.friends
		.friends-column
			+preview-user._female
		.friends-column
			+preview-user._female
		.friends-column
			+preview-user._female
		.friends-column
			+preview-user._female
		.friends-column
			+preview-user._female
		.friends-column
			+preview-user._female
		.friends-column
			+preview-user._female
		.friends-column
			+preview-user._female