mixin friends(data)
	.friends
		.friends-column
			+preview-user
		.friends-column
			+preview-user
		.friends-column
			+preview-user
		.friends-column
			+preview-user
		.friends-column
			+preview-user
		.friends-column
			+preview-user
		.friends-column
			+preview-user
		.friends-column
			+preview-user