

.messages-top {
	display: flex;

	padding-bottom: 18px;

	justify-content: space-between;
	@media screen and(max-width: 480px) {
		display: block;
	}
	&__button {
		position: relative;

		padding: 10px 12px 8px 32px;

		font-family: "Lato-Medium";
		font-size: 14px;
		line-height: 1;

		@extend .button;
		&:before {
			position: absolute;
			top: 8px;
			left: 10px;

			@extend .fa-envelope-o;
			@extend .fa;
		}
	}
}

.messages-top-column {
	width: 310px;
	@media screen and(max-width: 480px) {
		width: auto;
		margin-bottom: 10px;
	}
}

.messages-comments-list-column {
	padding-top: 23px;
	padding-bottom: 23px;

	border-top: 1px solid #d7d7d7;
}
