.messages {}

.messages-top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 18px;
	@media screen and(max-width: 480px) {
		display: block;
	}
	&__button {
		@extend .button;
		padding: 10px 12px 8px 32px;
		font-size: 14px;
		font-family: 'Lato-Medium';
		line-height: 1;
		position: relative;
		&:before {
			@extend .fa;
			position: absolute;
			top: 8px;
			left: 10px;
			@extend .fa-envelope-o;
		}
	}
}

.messages-top-column {
	width: 310px;
	@media screen and(max-width: 480px) {
		width: auto;
		margin-bottom: 10px;
	}	
}

.messages-comments-list-column {
	padding-top: 23px;
	padding-bottom: 23px;
	border-top: 1px solid #d7d7d7;
}