mixin profile(data)
	.profile
		.profile__mobile
		.profile__content
			i.fa.fa-user-circle-o.profile__user
			.profile-hello
				| Привет
				a(href="#" title="").profile-hello__name Вадим Петров
			a(href="#" title="").profile__exit
				i.fa.fa-sign-out
				