.message-block-second {
	display: flex;
	justify-content: flex-start;
	padding-top: 39px;
	padding-bottom: 21px;
	&__image {
		margin-right: 12px;
		img {
			display: block;
			border-radius: 50%;
		}
	}
}
.message-block-second-text {
	width: 750px;
	padding-top: 4px;
	&__meta {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 2px;
	}
	&__name {
		font-size: 17px;
		font-family: 'Lato-Bold';
		color: $black;
		margin-right: 20px;
	}
	&__comment {
		font-size: 14px;
		line-height: 20px;
	}
}
.message-block-second-text-date {
	font-size: 12px;
	color: #7c7373;
	display: flex;
	justify-content: flex-start;
	&__item {
		margin-right: 14px;
		&._last {
			margin-right: 0;
		}
	}
}