mixin message-block-second(imageSize)
	.message-block-second
		.message-block-second__image
			img(src="http://placehold.it/#{imageSize}" alt="")
		.message-block-second-text
			.message-block-second-text__meta
				a(href="#" title="").message-block-second-text__name Инна С.
				.message-block-second-text-date
					.message-block-second-text-date__item 15 мая 2017
					.message-block-second-text-date__item._last 15:30
			.message-block-second-text__comment.
				Чтобы избежать лишних вопросов, связанных с совместимостью жестких дисков и видеорегистраторов, компания Dahua Technology регулярно публикует информацию о рекомендованных жестких дисках для систем видеонаблюдения. И теперь появился новый, актуальный список HDD. Если раньше вы пользовались
				