.message-block-second {
	display: flex;
	justify-content: flex-start;
	@media screen and(max-width: 480px) {
		display: block;
	}
	&__image {
		margin-right: 12px;
		img {
			display: block;
			border-radius: 50%;
		}
	}
}
.message-block-second-text {
	width: 750px;
	padding-top: 4px;
	@media screen and(max-width: 480px) {
		width: auto;
		padding-top: 12px;
	}	
	&__meta {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 2px;
		@media screen and(max-width: 480px) {
			margin-bottom: 7px;
		}			
	}
	&__name {
		font-size: 17px;
		font-family: 'Lato-Bold';
		color: $black;
		margin-right: 20px;
	}
	&__comment {
		font-size: 14px;
		line-height: 20px;
    @media screen and(max-width: 1050px) {
    	font-size: 17px;
    	line-height: 26px;		
  	}
	}
}
.message-block-second-text-date {
	font-size: 12px;
	color: #7c7373;
	display: flex;
	justify-content: flex-start;
	@media screen and(max-width: 760px) {
		font-size: 14px;
	}	
	&__item {
		margin-right: 14px;
		&._last {
			margin-right: 0;
		}
	}
}