.gallery {
	margin-bottom: 12px;
}

.gallery-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	@media screen and(max-width: 480px) {
		display: block;
	}
	&__button {
		@extend .button;
		overflow: hidden;
		position: relative;
		font-size: 14px;
		line-height: 1;
		font-family: 'Lato-Medium';
		padding: 11px 21px 7px 32px;
		@media screen and(max-width: 480px) {
			padding: 15px 35px 12px 45px;
			display: table;
			margin-left: auto;
			font-size: 16px;
			margin-right: auto;
		}
		&:before {
			position: absolute;
			top: 10px;
			left: 10px;
			@extend .fa;
			@extend .fa-plus-circle;
			@media screen and(max-width: 480px) {
				top: 13px;
				left: 18px;
			}	
		}
	}
}
.gallery-top-tabs {
	display: flex;
	justify-content: flex-start;
	@media screen and(max-width: 480px) {
		margin-bottom: 20px;
	}	
	&__item {
		margin-right: 42px;
		font-family: 'Lato-Bold';
		font-size: 27px;
		color: $white;
		border-bottom: 1px dashed transparent;
		&:hover {
			color: $red;
			border-bottom-color: $red;
		}
		&._active {
			color: $red;
			border-bottom-color: $red;
		}
		&._last {
			margin-right: 0;
		}
	}
}

.gallery-media {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@media screen and(max-width: 320px) {
		display: block;
	}
	&__right {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
.gallery-media-top {
	display: flex;
	justify-content: space-between;
	@media screen and(max-width: 480px) {
		display: block;
	}
}

.gallery-column {
	margin-bottom: 20px;
	@media screen and(max-width: 480px) {
		width: 49%;
	}	
	@media screen and(max-width: 320px) {
		width: 100%;
	}
	&._big {
		margin-right: 19px;
		@media screen and(max-width: 480px) {
			margin-right: 0;
			width: 100%;
		}		
	}
}