mixin header(data)
	header.header
		.header__wrapper
			a(href="#" title="").header__logo dating4you
			.header-column._menu
				+menu(['Главная','Поиск','Фото','Топ100','Мой профиль'])
			.header-column
				+profile
