.write-message {
	display: flex;

	padding: 20px 16px 22px 19px;

	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: $lightGray;

	justify-content: flex-start;
	&__image {
		margin-right: 14px;
		@media screen and(max-width: 480px) {
			margin-right: 5px;
		}
		img {
			display: block;

			border-radius: 50%;
		}
	}
}
.write-message-form {
	display: flex;

	padding-top: 11px;

	justify-content: flex-start;
	&__textarea {
		width: 100%;
		height: 37px;
		padding-left: 13px;

		background-color: $white;

		@extend .input-form;
	}
	&__submit {
		width: 39px;
		height: 36px;

		font-size: 21px;

		@extend .fa-send-o;
		@extend .fa;
		@extend .button;
	}
}

.write-message-form-column {
	width: 690px;
	margin-right: 7px;
	@media screen and(max-width: 768px) {
		width: 566px;
	}
	@media screen and(max-width: 480px) {
		width: 297px;
	}
	@media screen and(max-width: 320px) {
		width: auto;
	}
}
