.write-message {
	display: flex;
	justify-content: flex-start;
	padding-top: 20px;
	padding-bottom: 22px;
	padding-left: 19px;	
	background-color: $lightGray;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	&__image {
		margin-right: 14px;
		img {
			display: block;
			border-radius: 50%;
		}
	}

}
.write-message-form {
	display: flex;
	justify-content: flex-start;
	padding-top: 11px;
	&__textarea {
		@extend .input-form;
		width: 100%;
		height: 37px;
		background-color: $white;
		padding-left: 13px;
	}
	&__submit {
		@extend .button;
		height: 36px;
		width: 39px;
		font-size: 21px;
		@extend .fa;
		@extend .fa-send-o;
	}
}

.write-message-form-column {
	width: 690px;
	margin-right: 7px;
}