mixin cards(data)
	.cards
		.cards-column
			+card-block._female
		.cards-column
			+card-block._female
		.cards-column
			+card-block._male
		.cards-column
			+card-block._female
		.cards-column
			+card-block._female
		.cards-column
			+card-block._female
		.cards-column
			+card-block._male
		.cards-column
			+card-block._female
		.cards-column
			+card-block._female
		.cards-column
			+card-block._female
		.cards-column
			+card-block._male
		.cards-column
			+card-block._female

