mixin contacts(show)
	-var modifier = attributes.class || ''
	.contacts(class="#{modifier}")
		.contacts-item
			a(href="#" title="").contacts-item__link._icq
		.contacts-item
			a(href="#" title="").contacts-item__link._skype
		.contacts-item._last
			a(href="#" title="").contacts-item__link._phone
		-if(show == true)
			a(href="#" title="").contacts__link Показать