.contacts {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	bottom: 0;
	&__link {
		color: $blue;
		text-decoration: underline;
		padding-left: 9px;
		line-height: 1;
		&:hover {
			color: $blue;
			text-decoration: none;
		}
	}
}
.contacts-item {
	background-color: #e5e5e5;
	height: 20px;
	width: 20px;
	position: relative;
	margin-right: 5px;
	&._last {
		margin-right: 0;
	}
	&__link {
		display: block;
		@include absoluteCenter;

		&._icq {
			@include bg($icq);
		}
		&._skype {
			@include bg($skype);
		}
		&._phone {
			@include bg($phone);
		}		
	}
}
