.contacts {
	position: absolute;
	bottom: 0;

	display: flex;

	align-items: center;
	justify-content: flex-start;
	@media screen and(max-width: 768px) {
		left: 0;
	}
	@media screen and(max-width: 320px) {
		right: 0;
		left: initial;
	}
	&__link {
		padding-left: 9px;

		text-decoration: underline;

		color: $blue;

		line-height: 1;
		&:hover {
			text-decoration: none;

			color: $blue;
		}
	}
	&._right {
		right: 0;
	}
}
.contacts-item {
	position: relative;

	width: 20px;
	height: 20px;
	margin-right: 5px;

	background-color: #e5e5e5;
	&._last {
		margin-right: 0;
	}
	&__link {
		display: block;

		@include absoluteCenter;
		&._icq {
			@include bg($icq);
		}
		&._skype {
			@include bg($skype);
		}
		&._phone {
			@include bg($phone);
		}
	}
}
