mixin contacts(data)
	.contacts
		.contacts-item
			a(href="#" title="").contacts-item__link._icq
		.contacts-item
			a(href="#" title="").contacts-item__link._skype
		.contacts-item
			a(href="#" title="").contacts-item__link._phone					