mixin tabs(data)
	.tabs
		a(href="#" title="").tabs__item
			i.fa.fa-address-book
			span Все анкеты
		a(href="#" title="").tabs__item
			i.fa.fa-book
			span Основное
		a(href="#" title="").tabs__item
			i.fa.fa-users
			span Мои друзья 
		a(href="#" title="").tabs__item
			i.fa.fa-comment
			span Мои сообщения
		a(href="#" title="").tabs__item
			i.fa.fa-camera
			span Мои фотографии
		a(href="#" title="").tabs__item._last
			i.fa.fa-cogs
			span Профиль
