.leave-message {
	padding-right: 16px;
	padding-left: 19px;
}

.leave-message-top {
	display: flex;

	padding-bottom: 16px;

	border-bottom: 1px solid #d7d7d7;

	align-items: center;
	justify-content: space-between;
	@media screen and(max-width: 480px) {
		display: block;
	}
	&__control {
		display: block;
		@media screen and(max-width: 480px) {
			margin-bottom: 10px;
		}
		.fa {
			color: #a1a1a1;

			font-size: 18px;
		}
	}
}
.leave-message-top-center {
	display: flex;

	justify-content: flex-start;
	@media screen and(max-width: 480px) {
		margin-bottom: 15px;
	}
	&__image {
		margin-right: 14px;
		img {
			display: block;

			border-radius: 50%;
		}
	}
	&__name {
		padding-top: 4px;

		color: $black;

		font-family: "Lato-Bold";
		font-size: 27px;
	}
}

.leave-message-top-column {
	width: 222px;
	@media screen and(max-width: 480px) {
		width: auto;
	}
}

.leave-message-column {
	padding-top: 39px;
	padding-bottom: 21px;
	@media screen and(max-width: 768px) {
		padding-top: 15px;
		padding-bottom: 5px;
	}
	&:last-child {
		@media screen and(max-width: 768px) {
			padding-bottom: 21px;
		}
	}
}
