.card-block {
	display: flex;
	justify-content: flex-start;
}
.card-block-left {
	&__image {
		display: block;
	}	
}
.card-block-content {
	margin-left: 10px;
	position: relative;
	width: 100%;
	&__title {
		font-size: 17px;
		display: block;
		margin-top: 12px;
		color: $black;
		font-family: 'Lato-Bold';
		position: relative;
		padding-left: 18px;
		margin-bottom: 8px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 1px;
		}
		&._female {
			&:before {
				@include bg($female);
			}
		}
		&._male {
			&:before {
				@include bg($male);
			}
		}
		&._row {
			margin-top: 7px;
			margin-bottom: 5px;
		}
	}
	&__info {
		font-size: 13px;
		color: #7c7373;
		margin-left: 18px;
		&._row {
			margin-left: 0;
			font-size: 12px;
		}		
	}
	&__text {
		margin-bottom: 4px;
		&._last {
			margin-bottom: 0;
		}
	}
}

