.card-block {
	display: flex;

	justify-content: flex-start;
}
.card-block-left {
	&__image {
		display: block;
		@media screen and(max-width: 960px) {
			width: 100%;
			height: auto;
		}
	}
}
.card-block-content {
	position: relative;

	width: 100%;
	margin-left: 10px;
	@media screen and(max-width: 960px) {
		padding-bottom: 24px;
	}
	@media screen and(max-width: 480px) {
		margin-left: 5px;
	}
	@media screen and(max-width: 320px) {
		margin-left: 10px;
		padding-bottom: 0;
	}
	&__title {
		position: relative;

		display: block;

		margin-top: 12px;
		margin-bottom: 8px;
		padding-left: 18px;

		color: $black;

		font-family: "Lato-Bold";
		font-size: 17px;
		@media screen and(max-width: 480px) {
			font-size: 15px;
		}
		@media screen and(max-width: 320px) {
			font-size: 17px;
		}
		&:before {
			position: absolute;
			top: 1px;
			left: 0;

			content: "";
		}
		&._female {
			&:before {
				@include bg($female);
			}
		}
		&._male {
			&:before {
				@include bg($male);
			}
		}
		&._row {
			margin-top: 7px;
			margin-bottom: 5px;
		}
	}
	&__info {
		margin-left: 18px;

		color: #7c7373;

		font-size: 13px;
		@media screen and(max-width: 1050px) {
			font-size: 15px;
		}
		&._row {
			margin-left: 0;

			font-size: 12px;
			@media screen and(max-width: 1050px) {
				font-size: 15px;
			}
			@media screen and(max-width: 480px) {
				margin-left: 18px;
			}
			@media screen and(max-width: 320px) {
				font-size: 16px;
			}
		}
	}
	&__text {
		margin-bottom: 4px;
		&._last {
			margin-bottom: 0;
		}
	}
}
